.saved-news {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.saved-news__header {
  margin: 120px 104px 0;
  background-color: #fff;
}

.saved-news__label {
  margin: 0 0 28px;
}

.saved-news__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px;
}

.saved-news__cards {
  margin: 62px;
}

.saved-news__keywords {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.saved-news__keywords-bold {
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .saved-news__image {
    height: 150px;
  }
}

@media screen and (max-width: 435px) {
  .saved-news__header {
    margin: 64px 16px 0;
    text-align: left;
  }

  .saved-news__label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 16px;
  }

  .saved-news__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 50px;
  }

  .saved-news__keywords {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .saved-news__keywords-bold {
    font-weight: 700;
  }

  .saved-news__cards {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .saved-news__cards .main__show-more {
    margin: 16px 0 24px;
  }
}
